@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #eeeff1;
  padding-bottom: 140px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.navigation {
  padding-block: 80px;
}

.menu {
  display: flex;
  gap: 50px;
}

.menu li {
  list-style: none;

  a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 10%;
  }
}

.menu li a:hover {
  color: #34547a;
}

.main-title {
  padding-top: 83px;
}

.main-title h1 {
  font-size: 48px;
  font-weight: 600;
  color: black;
  padding-bottom: 60px;
}

.main-text {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  width: 540px;
  padding-bottom: 65px;
}

.write-me {
  appearance: none;
  border: none;
  padding: 25px 41px 17px 41px;
  background-color: #34547a;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: lighter;
}

section.about-me {
  background-color: #f9f9f9;
}

.about-me {
  padding-block: 112px 100px;
  text-align: center;
}

.about-me h2 {
  font-size: 32px;
  padding-bottom: 50px;
}

.about-me p {
  font-size: 16px;
  color: #727272;
  width: 540px;
  line-height: 164%;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* .projects {
  background-color: #34547A;
}

.my-projects {
  display: flex;
  gap: 50px;
  color: white;
  padding-block: 100px;
}

.my-projects li {
  list-style: none;
  width: 141px;
  height: 50px;
} */

.projects {
  padding-block: 100px;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.bg-color {
  background-color: #34547a;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 2px;
}

.icon {
  width: 50px;
  height: 50px;
}

.num {
  font-weight: 500;
  font-size: 21px;
}

.label {
  font-weight: lighter;
  font-size: 16px;
}



section.how-i-work {
  background-color: #f9f9f9;
}

.how-i-work {
  padding-block: 100px 60px;
  text-align: center;
}

.how-i-work h2 {
  font-size: 32px;
  padding-bottom: 50px;
}

.how-i-work p {
  font-size: 16px;
  color: #727272;
  width: 540px;
  line-height: 164%;
  margin: 0 auto;
}

.video-bg {
  background-color: #f9f9f9;
  padding-bottom: 100px;
  padding-bottom: 100px;
}

.working-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.footer-bg {
  padding-block: 50px;
  background-color: #34547A;
  color: #f9f9f9;
}

.author {
  font-weight: 500;
  font-size: 21px;
  padding-bottom: 15px;
}

.copyright {
font-size: 13px ;
font-weight: lighter;
}